<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match Traineeships</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">


    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        <span th:text="${successMessage}">Position assigned to student  </span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <span th:text="${errorMessage}">Error!</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>



    <h3>Select Criteria for Matching Traineeships</h3>
    <hr>

    <p th:if="${selectedStudent != null}">
        <strong>Selected student:</strong> <span th:text="${selectedStudent.studentName}">Student Name</span>
    </p>



    <form th:action="@{/committee/match_student}" method="get" th:object="${searchForm}">
        <input type="hidden" th:field="*{selectedUsername}" />
        <div class="form-group">
            <label for="criteria">Search by:</label>
            <select class="form-control" th:field="*{criteria}" id="criteria" required>
                <option value="">-- Select a criteria --</option>
                <option value="interest">By Interest</option>
                <option value="location">By Location</option>
                <option value="both">By Interest & Location</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <div th:if="${results != null}">

        <hr>

        <div th:if="${searchForm.criteria == 'interest'}">
            <h4>Search by Interest</h4>
            <h4 class="mt-4">Applicant's interests</h4>
            <ul class="list-unstyled">
                <li th:each="interest : ${#strings.arraySplit(selectedStudent.interests, ',')}">
                    <span class="fs-5 fw-bold" th:text="${interest}">Interest</span>
                </li>
            </ul>
            <h4 class="mt-4">Matching Positions based on Applicant's interests:</h4>



            <div th:if="${#lists.isEmpty(results)}">
                <div class="alert alert-warning mt-3">No matching positions found for the selected criteria.</div>
            </div>

            <div th:unless="${#lists.isEmpty(results)}">
                <table class="table table-bordered mt-3">
                    <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Required Skills</th>
                        <th>Assign Student for this position?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pos : ${results}">
                        <td th:text="${pos.title}">Title</td>
                        <td th:text="${pos.company.companyName}">Company</td>
                        <td th:text="${pos.location}">Location</td>
                        <td th:text="${pos.skills}">Skills</td>
                        <td>
                            <form th:action="@{/committee/assign_position}" method="post">
                                <input type="hidden" name="positionId" th:value="${pos.positionId}" />
                                <input type="hidden" name="studentUsername" th:value="${selectedStudent.username}" />
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <button type="submit" class="btn btn-primary">Assign</button>
                            </form>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        <div th:if="${searchForm.criteria == 'location'}">
            <h4>Search by Preferred Location</h4>
            <h4 class="mt-4">Applicant's Preferred Location</h4>
            <ul class="list-unstyled">
                <li th:each="location : ${#strings.arraySplit(selectedStudent.preferredLocation, ',')}">
                    <span class="fs-5 fw-bold" th:text="${location}">Location</span>
                </li>
            </ul>
            <h4 class="mt-4">Matching Positions based on Applicant's preferred location:</h4>



            <div th:if="${#lists.isEmpty(results)}">
                <div class="alert alert-warning mt-3">No matching positions found for the selected criteria.</div>
            </div>

            <div th:unless="${#lists.isEmpty(results)}">
                <table class="table table-bordered mt-3">
                    <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Required Skills</th>
                        <th>Assign Student for this position?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pos : ${results}">
                        <td th:text="${pos.title}">Title</td>
                        <td th:text="${pos.company.companyName}">Company</td>
                        <td th:text="${pos.location}">Location</td>
                        <td th:text="${pos.skills}">Skills</td>
                        <td>
                            <form th:action="@{/committee/assign_position}" method="post">
                                <input type="hidden" name="positionId" th:value="${pos.positionId}" />
                                <input type="hidden" name="studentUsername" th:value="${selectedStudent.username}" />
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <button type="submit" class="btn btn-primary">Assign</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:if="${searchForm.criteria == 'both'}">
            <h4>Search by Interests and Preferred Location</h4>
            <h4 class="mt-4">Applicant's interests</h4>
            <ul class="list-unstyled">
                <li th:each="interest : ${#strings.arraySplit(selectedStudent.interests, ',')}">
                    <span class="fs-5 fw-bold" th:text="${interest}">Interest</span>
                </li>
            </ul>

            <h4 class="mt-4">Applicant's Preferred Location</h4>
            <ul class="list-unstyled">
                <li th:each="location : ${#strings.arraySplit(selectedStudent.preferredLocation, ',')}">
                    <span class="fs-5 fw-bold" th:text="${location}">Location</span>
                </li>
            </ul>
            <h4 class="mt-4">Matching Positions based on Applicant's preferred location:</h4>



            <div th:if="${#lists.isEmpty(results)}">
                <div class="alert alert-warning mt-3">No matching positions found for the selected criteria.</div>
            </div>

            <div th:unless="${#lists.isEmpty(results)}">
                <table class="table table-bordered mt-3">
                    <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Required Skills</th>
                        <th>Assign Student for this position?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pos : ${results}">
                        <td th:text="${pos.title}">Title</td>
                        <td th:text="${pos.company.companyName}">Company</td>
                        <td th:text="${pos.location}">Location</td>
                        <td th:text="${pos.skills}">Skills</td>
                        <td>
                            <form th:action="@{/committee/assign_position}" method="post">
                                <input type="hidden" name="positionId" th:value="${pos.positionId}" />
                                <input type="hidden" name="studentUsername" th:value="${selectedStudent.username}" />
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <button type="submit" class="btn btn-primary">Assign</button>
                            </form>

                            <form th:action="@{/committee/reject_position}" method="post" style="display:inline; margin-left:5px;">
                                <input type="hidden" name="positionId" th:value="${pos.positionId}" />
                                <input type="hidden" name="studentUsername" th:value="${selectedStudent.username}" />
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <button type="submit" class="btn btn-danger">Reject</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <a th:href="@{/committee/available_positions}" class="btn btn-secondary mt-4">Back to available positions</a>
    <a th:href="@{/committee/dashboard}" class="btn btn-secondary mt-4">Back to Dashboard</a>
</div>
</body>
</html>
